<!DOCTYPE html>
<html>
        <h1>LOCKLEAZE CODING CLUB HANGMAN GAME</h1> 
        <h2>"Make Me Pretty. I want to be stylish"</h2><br>
        
  <body>

    <form action="{{ url_for('reset') }}" method="post">
        <button type="submit" id="reset">RESET</button>
    </form>
    
    <p>Name</p>
    <p id="game_name">{{ game["game_name"] }}</p>

    {% if game["current_game_status"] == 0 %}
      <form action="{{ url_for('name_game') }}" method="post">
          <p><input type="text" name="game_name" /></p>
          <button type="submit" id="submit_name">GO!</button>
          <p id="game_status">{{ game["current_game_status"]}}</p>
      </form>
    {% endif %}
    
    {% if game["current_game_status"] != 0 %}

    <form action="{{ url_for('show_line') }}" method="post">
        <button type="submit" id="show_line">SHOW LINE</button>
    </form>

    <p id="message">this is where message goes on the screen:  {{ game["message"] }}</p>
    <p id="template">Accepted letters: {{ game["accepted_letters"] }}</p>
    <p id="template">used letters: {{ game["used_letters"] }}</p>
    
    <p id="game_status">GAME STATUS: {{ game["status"] }}</p>
    <p id="score">Word: {{ game["word"] }}</p>
    <p>GUESS THE WORD</p>
          <form action="{{ url_for('guess') }}" method="post">
          <p><input type="text" name="guess_the_word" /></p>
          <button type="submit" id="submit_word_attempt">GO!</button>
          <p id="word_attempt">{{ game["word_attempt"]}}</p>
      </form>
   <p>
     <!-- One form/button per letter -->
<form action="{{ url_for('guess') }}" method="post">
  {% for letter in game.accepted_letters %}
<button name="letter" value="{{ letter }}" {% if letter in game["game.used_letters"] %}disabled{% endif %}>
    {{ letter }}
</button>
  {% endfor %}
</form>

   </p>

    <canvas id="gallows" width="400" height="400" style="border:1px solid grey"></canvas>

  {% endif %}

<p id="displayOption" hidden>{{ game["display_option"] }}</p>

    <script>
      const displayOption = parseInt(
    document.getElementById("displayOption").textContent,
    10
  );

  function hasBit(n, mask) {
    return (n & mask) !== 0;
}
  console.log("displayOption =", displayOption);

  const c = document.getElementById("gallows");
  const ctx = c.getContext("2d");

  // Only draw this line if bit 0 (1) is set
// Only draw this line if bit 0 (1) is set
  if (hasBit(displayOption, 1)) {
    ctx.beginPath();
    ctx.moveTo(0, 200);
    ctx.lineTo(50, 200);
    ctx.stroke();
  }

  // Only draw this line if bit 1 (2) is set
  if (hasBit(displayOption, 2)) {
    ctx.beginPath();
    ctx.moveTo(25, 200);
    ctx.lineTo(25, 0);
    ctx.stroke();
  }

  // Only draw this line if bit 2 (3) is set
  
  if (hasBit(displayOption, 4)) {
    ctx.beginPath();
    ctx.moveTo(25, 0);
    ctx.lineTo(200, 0);
    ctx.stroke();
  }

  

   // Only draw this line if bit 3 (4) is set
  
  if (hasBit(displayOption, 8)) {
    ctx.beginPath();
    ctx.moveTo(25, 25);
    ctx.lineTo(50, 0);
    ctx.stroke();
  }

    // Only draw this line if bit 4 (5) is set
  
  if (hasBit(displayOption, 16)) {
    ctx.beginPath();
    ctx.moveTo(150, 0);
    ctx.lineTo(150, 25);
    ctx.stroke();
  }

 // Only draw this line if bit 5 (6) is set
  
  if (hasBit(displayOption, 32)) {
    ctx.beginPath();
    ctx.arc(150, 37.5,12.5,0,Math.PI*2);
       ctx.fill();
  }

   // Only draw this line if bit 6 (7) is set
  
  if (hasBit(displayOption, 64)) {
    ctx.beginPath();
     ctx.moveTo(150, 50);
    ctx.lineTo(150, 100);
    ctx.stroke();
  }
 
//These lines below this point will need numbers adjusted to be 8 & 9
     // Only draw this line if bit 6 (7) is set
  
  if (hasBit(displayOption, 128)) {
    ctx.beginPath();
     ctx.moveTo(150, 100);
    ctx.lineTo(125, 125);
    ctx.stroke();

    ctx.beginPath();
     ctx.moveTo(150, 100);
    ctx.lineTo(175, 125);
    ctx.stroke();
  }

  // Only draw this line if bit 6 (7) is set
  
  if (hasBit(displayOption, 256)) {
    ctx.beginPath();
     ctx.moveTo(125, 75);
    ctx.lineTo(175, 75);
    ctx.stroke();
  }
</script>



  </body>
</html>