<!DOCTYPE html>
<html>
        <h1>LOCKLEAZE CODING CLUB HANGMAN GAME</h1> 
        
  <body>

    <form action="{{ url_for('reset') }}" method="post">
        <button type="submit" id="reset">RESET</button>
    </form>
    
    <p id="game_status">GAME STATUS: {{ game["status"] }}</p>
    <p id="word">Word: {{ game["word"] }}</p>
    <p id="word_template">Guessed: {{ game["word_template"] }}</p>
    
<!-- 
Letter buttons for making guesses
 One form/button per letter -->

<form action="{{ url_for('guess') }}" method="post">
  {% for letter in game.accepted_letters %}
<button name="letter" value="{{ letter }}" {% if letter in game["used_letters"] %}disabled{% endif %}>
    {{ letter }}
</button>
  {% endfor %}
</form>

   </p>

    <canvas id="gallows" width="400" height="400" style="border:1px solid grey"></canvas>

<p id="displayOption" hidden>{{ game["display_option"] }}</p>

    <script>
      const displayOption = parseInt(
    document.getElementById("displayOption").textContent,
    10
  );

  function hasBit(n, mask) {
    return (n & mask) !== 0;
}
  console.log("displayOption =", displayOption);

  const c = document.getElementById("gallows");
  const ctx = c.getContext("2d");

  // Only draw this line if bit 0 (1) is set
// Only draw this line if bit 0 (1) is set
  if (hasBit(displayOption, 1)) {
    ctx.beginPath();
    ctx.moveTo(0, 200);
    ctx.lineTo(50, 200);
    ctx.stroke();
  }

  // Only draw this line if bit 1 (2) is set
  if (hasBit(displayOption, 2)) {
    ctx.beginPath();
    ctx.moveTo(25, 200);
    ctx.lineTo(25, 0);
    ctx.stroke();
  }

  // Only draw this line if bit 2 (3) is set
  
  if (hasBit(displayOption, 4)) {
    ctx.beginPath();
    ctx.moveTo(25, 0);
    ctx.lineTo(200, 0);
    ctx.stroke();
  }

   // Only draw this line if bit 3 (4) is set
  
  if (hasBit(displayOption, 8)) {
    ctx.beginPath();
    ctx.moveTo(25, 25);
    ctx.lineTo(50, 0);
    ctx.stroke();
  }

    // Only draw this line if bit 4 (5) is set
  
  if (hasBit(displayOption, 16)) {
    ctx.beginPath();
    ctx.moveTo(150, 0);
    ctx.lineTo(150, 25);
    ctx.stroke();
  }

 // Only draw this line if bit 5 (6) is set
  
  if (hasBit(displayOption, 32)) {
    ctx.beginPath();
    ctx.arc(150, 37.5,12.5,0,Math.PI*2);
       ctx.fill();
  }

   // Only draw this line if bit 6 (7) is set
  
  if (hasBit(displayOption, 64)) {
    ctx.beginPath();
     ctx.moveTo(150, 50);
    ctx.lineTo(150, 100);
    ctx.stroke();
  }
 
//These lines below this point will need numbers adjusted to be 8 & 9
     // Only draw this line if bit 6 (7) is set
  
  if (hasBit(displayOption, 128)) {
    ctx.beginPath();
     ctx.moveTo(150, 100);
    ctx.lineTo(125, 125);
    ctx.stroke();

    ctx.beginPath();
     ctx.moveTo(150, 100);
    ctx.lineTo(175, 125);
    ctx.stroke();
  }

  // Only draw this line if bit 6 (7) is set
  
  if (hasBit(displayOption, 256)) {
    ctx.beginPath();
     ctx.moveTo(125, 75);
    ctx.lineTo(175, 75);
    ctx.stroke();
  }
</script>

  </body>
</html>